@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
body {
  font-family: "Public Sans", sans-serif;
  font-family: "Chelsea Market", cursive;
  background-color: #e9e4f0;
}

.header-bar {
  background-color: #292929;
  width: 70%;
  margin: auto;
}

@media (max-width: 800px) {
  .header-bar {
    background-color: #292929;
    width: 100%;
  }
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
  font-size: 30px;
}
@media (max-width: 800px) {
  .header-search-icon {
    position: relative;
    top: 3px;
    font-size: 20px;
  }
}

.addFormInput {
  width: 100%;
  padding: 10px;
}
.addFormInput input {
  width: 100%;
  padding: 10px;
}
.addFormStyle {
  width: 30%;
  position: absolute;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  padding: 10px;
  border: none;
}

@media (max-width: 800px) {
  .addFormStyle {
    width: 80%;
    position: absolute;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    padding: 10px;
    border: none;
  }
}

/* .addFormStyle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 35%;
} */
.addFormStyleModel {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnStyle {
  width: 50%;
  padding: 10px 20px;
  margin: 0% 20%;
  color: white;
  background-color: rgb(23, 23, 255);
  border-radius: 8px;
  border: none;
}

.btnStyle:active {
  background-color: #80bdff;
}
.btnStyle:hover {
  cursor: pointer;
}
.contactName {
  font-size: large;
  font-weight: bold;
}

.AddComponentStyle {
  font-size: 60px;
  position: absolute;
  bottom: 10%;
  right: 20%;
}

@media (max-width: 800px) {
  .AddComponentStyle {
    font-size: 50px;
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}

.AddComponentStyle:hover {
  cursor: pointer;
}

.cross {
  position: relative;
  left: 95%;
  color: red;
  font-size: 20px;
}
.cross:hover {
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  position: absolute;
  top: 45%;
  left: 48%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@media (max-width: 800px) {
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: absolute;
    top: 45%;
    left: 48%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.paginationComponent {
  position: absolute;
}

.containerDiv {
  width: 100%;
  margin: auto;
}

.contentComponent {
  width: 60%;
  margin: auto;
}

@media (max-width: 800px) {
  .contentComponent {
    width: 90%;
    margin: auto;
  }
}
.detailsComponent {
  width: 60%;
  margin: auto;
}

@media (max-width: 800px) {
  .detailsComponent {
    width: 90%;
    margin: auto;
  }
}

.header-heading {
  font-size: 40px;
}

@media (max-width: 800px) {
  .header-heading {
    font-size: 30px;
  }
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

.deletebtn:hover {
  cursor: pointer;
}
